:host {
  display: block;
  border-top: solid 5px var(--bs-primary);

  .size-md {
    max-width: 768px;
  }
  .size-lg {
    max-width: 992px;
  }
  .footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 4rem 0 1rem;
    color: var(--bs-gray);
    a {
      color: var(--bs-gray);
    }
  }
}

::ng-deep {
  .bg-primary {
    background-color: var(--bs-primary) !important;
  }
  .btn.active {
    background-color: var(--bs-primary) !important;
  }
}
