:host {
  .tool {
    width: 120px;
    display: flex;
    margin: 0.5rem;
    text-decoration: none;
    align-items: center;
    height: 120px;
    border-radius: 1rem;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.705);
    text-align: center;

    .tool-icon {
      font-size: 3rem;
      margin-bottom: .2rem;
    }

    .tool-title {
      font-size: 1rem;
      padding: 0 1.5rem;
    }
    &:hover {
      color: #fff;
    }
  }
}
